<div>
  <h1>Lista de productos fija</h1>
  <div id="productsList"  style="display: flex; justify-content: center;">
    {{#each data}}

      <div class="card" id="card" style="width: 18rem; margin: 25px;">
        <img src=/static/img/{{thumbnail}}
          class="card-img-top"
          alt="imagen{{id}}"
        />
        <div class="card-body"  style="display: flex; justify-content: center; flex-direction:column">
          <h5 class="card-title" style="text-align: center;">{{title}}</h5>
          <p class="card-text" style="text-align: center;">{{description}}</p>
        </div>
      </div>
    {{/each}}
  </div>

</div>

<script
  src="https://cdn.socket.io/4.7.5/socket.io.min.js"
  integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
  crossorigin="anonymous"
></script>

<script>

  const serverAddress = "ws://localhost:8080"; 
  const socketClient = io(serverAddress);

</script>